*{
    margin:0;
    padding:0;

}
body{
    font-family: sans-serif;
    background-color: beige;
    
}
.leftbox{
    
    margin-top: 20%;
    margin-left: 10%;
   width: 550px;
   height: 400px;
   
   
}
.rightbox{
    
    background-color: #fff;
    margin-top:-28% ;
    margin-left: 53%;
    width: 550px;
   height: 400px;
   box-sizing: border-box;
   padding-left:  30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 7px;

}